<div class="list-page">
  <h4>Lists   
    <button mat-raised-button routerLink="/create-list" color="primary">Create List</button>
  </h4>
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!-- Position Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell [ngClass]="statusDate ? 'test' : 'testings'" *matCellDef="let element">
       {{element.title}}
     </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

    <ng-container matColumnDef="placeName">
    <th mat-header-cell *matHeaderCellDef> Place Name </th>
    <td mat-cell *matCellDef="let element"> {{element.placeName}} </td>
  </ng-container>

    <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element">
     {{element.address}} 
     <div class="left">
       <mat-icon routerLink="/edit-list/{{element.id}}">edit</mat-icon>
       <mat-icon (click)="delete(element.id)">delete</mat-icon>
     </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>